<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="UTF-8">

  <link rel="apple-touch-icon" sizes="180x180" href="{{ "/apple-touch-icon.png" | prepend: site.baseurl }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ "/favicon-32x32.png" | prepend: site.baseurl }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ "/favicon-16x16.png" | prepend: site.baseurl }}">
  <link rel="manifest" href="{{ "/site.webmanifest" | prepend: site.baseurl }}">

  <title>
      {% if page.title %} {{ page.title }} &raquo; {% endif %} {{ site.title }}
  </title>

  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,900" rel="stylesheet">
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
</head>
<body>
    <header class="header">
      <div class="header__secondary">
        <div>An <a href="https://www.indiehackers.com/" target="_blank">Indie Hackers</a> Meetup</div>
        <a href="#mc_embed_signup"> Subscribe </a>
      </div>

      <div class="logo">
        <img src="{{ "/images/logo.svg" | prepend: site.baseurl }}" alt="indie_makers_logo">
      </div>

      <div class="header__intro">
        A monthly meetup for the Indie Hackers
        community in Prague.
      </div>
    </header>

    <h1 class="under">UPCOMMING MEETUP</h1>

    <div class="event">
      <div class="event__header">
        <h2 class="event__header__title">
          #2: UNDER THE HOOD
          <div>Sat, 25 May @ 11:00 – 14:00</div>
        </h2>
        <div class="event__header__date">
          25
          <div>MAY</div>
        </div>
      </div>
      <div class="event__info">
        <div class="event__info__location">
          <div>Location</div>
          To Be Announced Soon
        </div>

        <a class="event__info__cta" href="https://www.facebook.com/events/2582234642003412/" target="_blank">
          EVENT (FB)
        </a>
      </div>
    </div>

    <div class="hosts">
      <h2>
        Hosts
      </h2>

      <div class="host">
        <img src="{{ "/images/motaqui.jpg" | prepend: site.baseurl }}" alt="">
        <span>MOTAQUI MADDANE</span>
        <a href="mailto:maddane.info@gmail.com?cc=alex@alexmartynov.com&subject=Indie%20Makers%20%E2%80%93%20IH%20Meetup%3A" target="_blank">CONTACT</a>
      </div>

      <div class="host">
        <a href="mailto:alex@alexmartynov.com?cc=maddane.info@gmail.com&subject=Indie%20Makers%20%E2%80%93%20IH%20Meetup%3A" target="_blank">CONTACT</a>
        <span>ALEX MARTYNOV</span>
        <img src="{{ "/images/alex.jpg" | prepend: site.baseurl }}" alt="">
      </div>


      <div class="host">
        <img src="{{ "/images/viktor.jpg" | prepend: site.baseurl }}" alt="">
        <span>VIKTOR GOLIAŠ</span>
        <a href="mailto:golias.viktor@gmail.com?cc=maddane.info@gmail.com,alex@alexmartynov.com&subject=Indie%20Makers%20%E2%80%93%20IH%20Meetup%3A" target="_blank">CONTACT</a>
      </div>
    </div>

    <div class="events">
      <h1 class="under">
        Past Meetups
      </h1>

      <div class="event">
        <div class="event__header">
          <h2 class="event__header__title">
            #1: MEET & GREET
            <div>27 April @ 11:00 – 13:00</div>
          </h2>
          <div class="event__header__date">
            27
            <div>APR</div>
          </div>
        </div>
        <div class="event__info">
          <div class="event__info__location">
            <div>MERCH OR DIE</div>
            Libická 1756/12, 130 00 Vinohrady
          </div>

          <a class="event__info__cta" href="https://www.facebook.com/events/2155830861178145/" target="_blank">
            Link to FB
          </a>
        </div>
      </div>
    </div>

    {% include signup.html %}

    <footer class="footer">
      <div>Part of the Community</div>
      <a href="https://www.indiehackers.com/" target="_blank">
        <img src="{{ "/images/indie-hackers-logo__type--light.svg" | prepend: site.baseurl }}" alt="">
      </a>
    </footer>

    {% include analytics.html %}
</body>
</html>