<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="UTF-8">

  <title>
      {% if page.title %} {{ page.title }} &raquo; {% endif %} {{ site.title }}
  </title>

  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,900" rel="stylesheet">
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
</head>
<body>
    <header class="header">
      <div class="header__secondary">
        <div>An <a href="https://www.indiehackers.com/" target="_blank">Indie Hackers</a> Meetup</div>
        <a href="#"> Subscribe </a>
      </div>

      <div class="logo">
        <img src="{{ "/images/logo.svg" | prepend: site.baseurl }}" alt="">
      </div>

      <div class="header__intro">
        A monthly meetup for the Indie Hackers
        community in Prague.
      </div>
    </header>

    <h1>UPCOMMING MEETUP</h1>

    <div class="event">
      <div class="event__header">
        <h2 class="event__header__title">
          MEET & GREET
          <div>27 April @ 6PM - 9PM</div>
        </h2>
        <div class="event__header__date">
          27
          <div>APR</div>
        </div>
      </div>
      <div class="event__info">
        <div class="event__info__location">
          <div>Node5</div>
          Radlicka 50, 15000 Prague, Czech Republic.
        </div>

        <a class="event__info__cta" href="https://www.facebook.com/groups/2320354811623955/" target="_blank">
          JOIN US
        </a>
      </div>
    </div>

</body>
</html>