<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="UTF-8">

  <link rel="apple-touch-icon" sizes="180x180" href="{{ "/apple-touch-icon.png" | prepend: site.baseurl }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ "/favicon-32x32.png" | prepend: site.baseurl }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ "/favicon-16x16.png" | prepend: site.baseurl }}">
  <link rel="manifest" href="{{ "/site.webmanifest" | prepend: site.baseurl }}">

  <title>
      {% if page.title %} {{ page.title }} &raquo; {% endif %} {{ site.title }}
  </title>

  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,900" rel="stylesheet">
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
</head>
<body>
    <header class="header">
      <div class="header__secondary">
        <div>An <a href="https://www.indiehackers.com/" target="_blank">Indie Hackers</a> Meetup</div>
        <a href="#mc_embed_signup"> Subscribe </a>
      </div>

      <div class="logo">
        <img src="{{ "/images/logo.svg" | prepend: site.baseurl }}" alt="indie_makers_logo">
      </div>

      <div class="header__intro">
        A monthly meetup for the Indie Hackers
        community in Prague.
      </div>
    </header>

    {% include current.html %}

    {% include past.html %}

    {% include signup.html %}

    <footer class="footer">
      <div>Part of the Community</div>
      <a href="https://www.indiehackers.com/" target="_blank">
        <img src="{{ "/images/indie-hackers-logo__type--light.svg" | prepend: site.baseurl }}" alt="">
      </a>
    </footer>

    {% include analytics.html %}
</body>
</html>